<%= form_with model: reaction do |f| %>
    <div class="field">
      <%= f.label :name, "Name" %>
      <%=f.text_field :name%>
    </div>

    <div class="field">
      <%= f.label :name, "Image" %>
      <%= f.file_field :image, class:"form-control-file user_image", accept: "image/*" %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit' %>
    </div>
  <% end %>