<%# グラフの更新 %>
<%= line_chart data_for_line_chart %>
<%= column_chart data_for_column_chart %>
<p>リアクション数: <%= user_reactions_90min.count %></p>
<% count_of_reaction_90min.each do |reaction| %>
    <p><%= reaction['name'] %>:<%= reaction['count'] %></p>
<% end %>
