<%# グラフの更新 %>
<%= line_chart reactions.map { |reaction|
    {name: reaction.name, data: reaction.user_reactions.group_by_minute(:created_at).count}
} %>

<%= column_chart reactions.map { |reaction|
    [reaction.name, reaction.user_reactions.count]
} %>

<p>リアクション数: <%= (UserReaction.all).count %></p>

<% reactions.each do |reaction| %>
    <p><%= reaction.name %>:<%= reaction.user_reactions.count %></p>
<% end %>
