<div id='user-reactions-chart'>
<%= line_chart @reactions.map { |reaction|
    {name: reaction.name, data: reaction.user_reactions.group_by_minute(:created_at).count}
} %>

<%= column_chart @reactions.map { |reaction|
    [reaction.name, reaction.user_reactions.count]
} %>

</div>


<p>リアクション数: <%= @user_reactions.count %></p>

<% @reactions.each do |reaction| %>
    <p><%= reaction.name %>:<%= reaction.user_reactions.count %></p>
<% end %>

<div id='reaction-buttons' data-channel_type="presenter">

</div>
